.footer-data{
    /* justify-content:space-between; */
    margin-top:5%;
    text-align:center;
}

h5{
    text-align:center;
    margin-left:60px;
}

ul,li{
    list-style:none;
    color:grey;
    /* text-align:center; */
}

.newsletter{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-left:30%;
}

.footer-email{
    margin-left:30%;
    border:2px solid transparent;
    width:50%;
    padding:15px;
}

.footer-btn{
    padding:20px;
    width:20%;
}

.foot-note{
    margin-top:5%;
}

.space-btw{
    width:40%;
}

.space-height{
    height:40%;
}