.footer-data{
    /* justify-content:space-between; */
    margin-top:5%;
    text-align:center;
}

h5{
    text-align:center;
    margin-left:60px;
}

ul,li{
    list-style:none;
    color:grey;
    /* text-align:center; */
}



.footer-btn{
    padding:20px;
    width:20%;
}

.foot-note{
    margin-top:5%;
  
}

.space-btw{
    width:40%;
}

.space-height{
    height:70%;
}

.footer-icon{
    color:#0667d0;
}

