*{
    color:black;
    box-sizing:border-box;
    padding:0;
    margin:0;
    background-color:#ffff;
}

.home-container{
    display:flex;
}

.main-text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 111px;
    flex: 1 1 0%;
    text-align:center;
    justify-content:center;
    margin-left:100px;
}

.title{
    /* margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-2); */
    margin-left:80px;
    color: rgb(0, 82, 255);
    font-weight:500;
    display:flex;
}

.heading{
    font-size: 65px;
    font-weight: 600;
    line-height: 1.15;
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-2);
    width:340px;
    /* text-align:center;
    justify-content:center; */
}


.mobile-img{
    /* margin-left:52.8%;
    margin-top:3.5%; */
    margin-top:3%;
    margin-right:5%;
    height:40%;
}

.bitcoin{
    height:28px;
    margin-right:10px;
}

.right-arrow{
    height:30px;
    margin-left:10px;
    width:27px;
    color: rgb(0, 82, 255);
}

.heading-desc{
    /* margin-left:10px; */
    margin-top:5px;
    font-size:20px;
    font-weight:650;
    line-height:1.4;
    margin-right:120px;
    margin-top:3%;
    padding:10px;
}

.email-form{
    display:flex;
    margin-left:32px;
}

.email{
    align-item:center;
    justify-content:space-between;
    font-size:18px;
    font-weight:600;
    padding:5px;
    border-radius:3px;
    width:150%;
    padding:20px;
    height:10vh;
    border:2px solid transparent;
    font-weight:400;
}

.email-btn{
    margin-left:40%;
    /* flex-direction:row; */
    align-item:center;
    font-size:16px;
    font-weight:300;
    padding:5px;
    border-radius:4px;
    width:90%;
    height:10vh;
    padding:10px;
    border:3px solid transparent;
}

.btn{
    margin-left:20px;
}