
.middle{
    width:100%;
    margin-top:23%;
}

.heading-data{
    font-size:40px;
    font-weight:600;
    text-align:center;
    width:100%;
    /* margin-top:12%; */
  }

  .middledata{
    font-size:25px;
    font-weight:200;
    text-align:center;
  }

  .feature{
    display:flex;
    flex-direction:row;
    margin-top:5%;
    margin-left:12%;
  }

  .feature-info1{
    width:28%;
    text-align:center;
    justify-content:space-between;
    text-decoration:none;
  }

  .feature-info2{
    width:28%;
    text-align:center;
    justify-content:space-between;
    margin-left:30%;
    text-decoration:none;
  }

  .data{
    margin-top:15%;
    width:100%;
    padding:100px;
    /* margin-left:30%; */
    text-align:center;
    /* justify-content:space-between; */
    background-color:rgb(0, 82, 255);
    color:white;
    font-size:30px;
    font-weight:600;
  }

  table{
    margin-left:20px;
    width:88%;
    height:80%;
    background-color:yellow;
    color:white;
    border-collapse: collapse;
    /* backgroundColor:rgb(0, 82, 255); */
  }

  /* tr,th,td{
    color:white;
    background-color:rgb(0, 82, 255);
  } */

  .data-bg{
    color:white;
    background-color:rgb(0, 82, 255);
  }

  th{
    font-weight:700;
  }

  td{
    font-size:20px;
    font-weight:380;
  }

  .bottom-data{
    margin-top:6%;
    text-align:center;
  }

  .bottom-head{
    font-size:35px;
    font-weight:600;
  }

  .bottom-info{
    font-size:20px;
    font-weight:350;
  }

  .bottom-features{
    display:flex;
    margin-top:20%;
    margin:0 15%;
    justify-content:space-between;
    padding:40px;
    text-align:center;
  }

  .middle-newsletter{
    text-align:center;
  }

  .newsletter{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-left:30%;
}

.footer-email{
    margin-left:30%;
    border:2px solid transparent;
    width:50%;
    padding:15px;
}

.footer-em{
  display:flex;
  flex-direction:row;
}