/* 370px */
.navbar-brand{
    font-weight:1000;
    pointer:cursor;
    font-size:20px;
    padding:12px;
}

li{
    margin-left:30px;
}

.sign-in{
    margin-left:250px;  
    font-size:25px;
    padding:2px;
}

nav,ul,li,a:hover{
    color:red;
    transition:.3s;
}

.btn{
    padding:10px 20px;
    border:none;
    border-radius:10px;
    transition:.4s;
}

.btn:hover{
    transform:scale(1.1);
    cursor:pointer;
}