/* 370px */
.navbar-brand{
    font-weight:1000;
    pointer:cursor;
    font-size:20px;
    padding:12px;
}

li{
    margin-left:30px;
}

.sign-in{
    margin-left:280px;  
    font-size:25px;
    padding:2px;
}

