.features{
    display:flex;
    flex-direction:row;
    padding:20px;
    margin-top:15%;
    margin:0 5%;
  }

.feature-img{
    float:right;
    border-radius:25px;
    /* margin-left:30%; */
}

.feature-title{
    /* font-size:100px;
    font-weight:2000; */
    margin-left:10%;
    padding:20px;
}

.feature-info{
    margin-left:5%;
    font-weight:100;
}

.feature-data{
    /* width:2%;
    height:5%; */
    margin-left:95%;

}