* {
  color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color:#ffff;
}

.portfolio-page {
  margin-top: 10%;
  width:95%;
}

.heading {
  font-size:50px;
  font-weight:500;
  text-align:center;
  width:100%;
  margin-top:5%;
}

.para1{
  font-size:25px;
  font-weight:250;
  /* text-align:center; */
  width:100%;
  margin-left:280px;
}

.portfolio-img {
  /* width: 20%;
  height: 20%; */
  z-index:1;
  margin-left:30%;
  float: right;
  margin-top:-38.8%;
}

.portfolio-features{
  z-index:0;
  margin-top:5%;
  margin-left:4%;
  width:35%;
  display:flex;
  flex-direction:column;
}